<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MTG.MasterLister.DataAccess.Properties.Settings.MasterListConnectionString"
            connectionString="data source=C:\git-perso\MTG.MasterLister\MTG.MasterLister.UI\bin\Debug\MasterList.sqlite"
            providerName="System.Data.SQLite.EF6" />
    </connectionStrings>
</configuration>